<div>
  <label for="{{id}}" class="control-label {{to.labelSrOnly ? 'sr-only' : ''}}" ng-if="to.label">
    {{to.label}}
    <span class="required" ng-if="to.required">(*)</span>
  </label>
  <formly-transclude></formly-transclude>
</div>
