<div class="page-footer" ng-controller="FooterCtrl">
    <div class="page-footer-inner">
    </div>
    <div class="page-footer-tools" style="margin-right:140px"> 
        <!--<br />
        <br />
        {{Clock|date : 'fullDate'}}<br />-->
    </div>
    <div class="scroll-to-top" style="display: block;">
        <i class="icon-arrow-up"></i>
    </div>
</div>
<div class="page-footer" ng-controller="FooterCtrl">
    <div class="page-footer-inner"> 2017 © Formly By
        <a target="_blank" href="https://gitlab.com/nguyenhero">NguyenHero</a> &nbsp;|&nbsp;
    </div>
    <div class="scroll-to-top" style="display: block;">
        <i class="icon-arrow-up"></i>
    </div>
</div>