﻿<span>
    <button type="button" class="btn btn-sm btn-primary pull-right margin-bottom-10 margin-left-10" ng-click="table.AddRow()"> <i class="fa fa-plus"></i> Add</button>
    <button type="button" class="btn btn-sm btn-primary pull-right margin-bottom-10 margin-left-10" ng-show="table.IsEditing" ng-click="table.SaveEdit()"> <i class="fa fa-check"></i>Confirm</button>
    <button type="button" class="btn btn-sm btn-primary pull-right margin-bottom-10 margin-left-10" ng-show="table.IsEditing" ng-click="table.RevertEdit()"> <i class="fa fa-undo"></i>Revert</button>
    <button type="button" class="btn btn-sm btn-danger pull-right  margin-bottom-10 margin-left-10" ng-show="table.SelectedCount>0" ng-click="table.DeleteSelected()"> <i class="fa fa-trash"></i>Delete selected</button>
</span>
<div class="row">
  <div ag-grid="table.gridOptions" style="height:450px;" class="ag-bootstrap col-md-12"></div>
</div>
