﻿<script type="text/ng-template" id="template-multicheckbox">
    <label>
        <div class="checker">
            <span ng-class="multiCheckbox.checked[option[to.valueProp]]?'checked':''">
                <input type="checkbox"
                       id="{{id + '_'+ option[to.valueProp]}}"
                       ng-model="multiCheckbox.checked[option[to.valueProp]]"
                       ng-change="multiCheckbox.change(option)">
            </span>
        </div>
        <span>{{option[to.labelProp || 'name']}}</span>
    </label>
    <div style="margin-left:20px;" ng-show="option.SubChild.length>0">
        <div ng-repeat="option in option.SubChild | filter: uiselect.SearchValue" ng-include="'template-multicheckbox'"></div>
    </div>
</script>
<div style="max-height:350px;overflow-y:scroll;">
    <div ng-repeat="option in to.options | filter: uiselect.SearchValue" ng-include="'template-multicheckbox'"></div>
</div>
<div class="error" ng-if="to.required&&(model[options.key]==null||model[options.key].length<=0)"><small>is required</small></div>
