﻿<label>
    {{options.templateOptions.label}}
    <span ng-if="options.templateOptions.required" class="required">(*)</span>
    <div class="checker">
        <span ng-class="model[options.key]?'checked':''">
            <input type="checkbox"
                   ng-model="model[options.key]">
        </span>
    </div>
</label>