﻿
<div class="input-group">
    <input type="text" datepickerutc
           id="{{::id}}"
           name="{{::id}}"
           ng-model="model[options.key]"
           class="form-control"
           ng-click="datepicker.open($event)"
           uib-datepicker-popup="{{to.datepickerOptions.format}}"
           datepicker-popup="{{to.datepickerOptions.format}}"
           is-open="datepicker.opened"
           datepicker-options="to.datepickerOptions"
           close-text="Close" clear-text="Delete" current-text="Today" />
    <span class="input-group-btn">
        <button type="button" class="btn btn-sm btn-default" ng-click="datepicker.open($event)" ng-disabled="to.disabled"><i class="glyphicon glyphicon-calendar"></i></button>
    </span>
</div>
<div class="datepicker-option" ng-show="to.showMode">
    <span><code>Day</code></span>
    <div class="checker">
        <span ng-class="to.datepickerOptions.minMode=='day'?'checked':''">
            <input ng-checked="to.datepickerOptions.minMode =='day'" ng-click="datepicker.ChangeDateMode(0)" type="checkbox" class="checkboxes" />
        </span>
    </div>
    <span><code>Month</code></span>
    <div class="checker">
        <span ng-class="to.datepickerOptions.minMode=='month'?'checked':''">
            <input ng-checked="to.datepickerOptions.minMode =='month'" ng-click="datepicker.ChangeDateMode(1)" type="checkbox" class="checkboxes" />
        </span>
    </div>
    <span><code>Year</code></span>
    <div class="checker">
        <span ng-class="to.datepickerOptions.minMode=='year'?'checked':''">
            <input ng-checked="to.datepickerOptions.minMode =='year'" ng-click="datepicker.ChangeDateMode(2)" type="checkbox" class="checkboxes" />
        </span>
    </div>
</div>