﻿<div class="input-group">
    <span class="input-group-addon" ng-if="to.addonRight"><i class="{{to.addonRight}}"></i></span>
    <input id="{{::id}}"
           name="{{::id}}"
           ng-model="model[options.key]"
           type="{{to.type}}"
           placeholder="{{to.placeholder}}"
           required="{{to.type}}"
           ng-disabled="to.disabled"
           ng-required="to.required"
           class="form-control input-sm" >
    <span class="input-group-addon" ng-if="to.addonLeft"><i class="{{to.addonLeft}}"></i></span>
</div>
