<div class="radio-group">
    <div ng-repeat="(key, option) in to.options" ng-class="{ 'radio': !to.inline, 'radio-inline': to.inline }">
        <label>
            <div class="radio">
                <span ng-class="model[options.key]==option[to.valueProp || 'value']?'checked':''">
                    <input type="radio"
                           id="{{id + '_'+ $index}}"
                           tabindex="0"
                           ng-value="option[to.valueProp || 'value']"
                           ng-model="model[options.key]">
                </span>
            </div>
            {{option[to.labelProp || 'name']}}
        </label>
    </div>
</div>
