﻿<div style="margin-bottom: 20px;">
    <div style="margin-left:10px" class="switch has-switch switch switch-mini" data-on="success" data-off="warning">
        <div class="" ng-class="model[options.key] ? 'switch-on switch-animate switch switch-mini' : 'switch-off switch-animate switch switch-mini'">
            <input type="checkbox" checked="" class="toggle" ng-disabled="to.disabled" /><span class="switch-left switch-success switch switch-mini" ng-click="model[options.key]  = !model[options.key]">{{to.trueLabel}}</span><label class="switch switch-mini" ng-click="model[options.key]  = !model[options.key]">&nbsp;</label><span class="switch-right switch-default switch switch-mini" ng-click="model[options.key] = !model[options.key]">{{to.falseLabel}}</span>
        </div>
    </div>
</div>
