﻿<ui-select class="form-group-sm"
           ng-model="model[options.key]"
           ng-required="to.required" ng-disabled="{{to.disabled}}"
           style="width: 100%;padding-bottom: 1px;"
           data-disabled="{{to.disabled}}"
           ng-change="uiselect.OnChange($select.selected)"
           theme="bootstrap">
    <ui-select-match allow-clear="true" placeholder="-- {{to.placeholder}} --" >{{$select.selected[to.labelProp]}}</ui-select-match>
    <ui-select-choices group-by="to.groupProp"
                       repeat="option[to.valueProp] as option in to.options | filter: $select.search">
        <div ng-bind-html="option[to.labelProp] | highlight: $select.search"></div>
    </ui-select-choices>
</ui-select>
