﻿<div class="page-header navbar navbar-fixed-top" data-ng-controller="HeaderCtrl">
    <!--navbar-fixed-top-->
    <div class="page-header-inner">

        <div class="page-logo">
            <a href="#/">
                <h4 class="big-title text-bold font-white" style="margin-top: 10px;"><span style="font-size:22px!important">Formly</span> <small class="font-white ng-binding">by NguyenHero</small></h4>
            </a>
            <div class="menu-toggler sidebar-toggler">
                <span></span>
            </div>
        </div>
        <!-- END PAGE LOGO -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
        </a>
        <div class="top-menu pull-left" style="padding:3px 10px 10px 15px">
            <div class="row" style="float:left;">
                <div style="font-size:15px;font-weight:600;color:white;" class="text-primary uppercase"></div>
            </div>
        </div>
        <div class="top-menu pull-right">
            <ul class="nav navbar-nav pull-right  margin-right-none">
                <li class="separator hide">
                </li>
                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                <li class="dropdown dropdown-language  dropdown-dark">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false">
                        <img alt="" ng-src="{{SelectedLanguage.IconSrc}}" />
                        <span class="langname"></span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-default">
                        <li ng-repeat="lang in ListLanguage">
                            <a href="javascript:;" ng-click="SelectLanguage(lang)">
                                <img height="20" ng-src="{{lang.IconSrc}}" /> {{lang.Name}}
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown dropdown-user">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false">
                        <img alt="" class="img-circle" src="assets/layouts/layout4/img/icon-user-default.png" >
                        <span class="username username-hide-on-mobile">Admin </span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-default">
                        <li>
                            <a href="#">
                                <i class="fa fa-user"></i> {{'HeaderCtrl.UserInfo' | translate}}
                            </a>
                        </li>
                        <li class="divider" style="margin:0;">
                        </li>
                        <li>
                            <a ng-click="LogOut()">
                                <i class="fa fa-key"></i> {{'HeaderCtrl.Logout' | translate}}
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- END USER LOGIN DROPDOWN -->
                <!-- BEGIN QUICK SIDEBAR DROPDOWN -->
                <li class="dropdown dropdown-quick-sidebar-toggler">
                    <a href="javascript:;" class="dropdown-toggle">
                        <i class="icon-logout"></i>
                    </a>
                </li>
                <!-- END QUICK SIDEBAR DROPDOWN -->
            </ul>
        </div>
        <!-- BEGIN PAGE LOGO -->
        <!-- END RESPONSIVE MENU TOGGLER -->
    </div>
</div>