﻿
.table-loki {
}

    .table-loki .formly {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        border: 1px solid black;
        padding: 0px;
        margin: 0px;
    }

    .table-loki .formly-field {
        border: 1px solid black;
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }

        .table-loki .formly-field:hover {
            background-color: rgba(15, 78, 116, 0.07);
        }

    .table-loki .form-group {
        margin-bottom: 10px;
    }

    .table-loki .table-head {
        background-color: #c1c1c1;
        font-weight: bold;
    }
/*------------------------------------------------------------------------*/

span.required, div.error {
    color: #ff0000;
}

.my-messages {
    position: relative;
}

.my-messages, .some-message {
    opacity: 1;
    transition: .3s linear all;
}

.some-message {
    font-size: .8em;
    position: absolute;
    width: 100%;
    color: red;
}

    .my-messages.ng-enter.ng-enter-active,
    .some-message.ng-enter.ng-enter-active {
        opacity: 1;
        top: 0;
    }

    .my-messages.ng-enter,
    .some-message.ng-enter {
        opacity: 0;
        top: -10px;
    }

    .my-messages.ng-leave,
    .some-message.ng-leave {
        opacity: 1;
        top: 0;
    }

    .my-messages.ng-leave-active,
    .some-message.ng-leave-active {
        opacity: 0;
        top: -10px;
    }

/*------------------------------------------------------------------------*/

.loader {
    position: absolute;
    right: 6px;
    top: calc(100% - 25px);
    -webkit-animation: rotation 1.5s infinite linear;
    animation: rotation 1.5s infinite linear;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/*------------------------------------------------------------------------*/

.formly-row {
    min-height: 120px;
    display: inline-block;
    width: 100%;
    background-color: white;
    position: relative;
    padding: 0px;
}

    .formly-row.hover {
        background-color: #d49e05;
    }

.formly-block {
    height: 100px;
    background-color: #ffffff;
    border: 0.1px solid #2ab4c0;
    position: relative;
}

    .formly-block.formly-block-column {
        height: 80px !important;
    }

    .formly-block.formly-block-html {
        height: auto !important;
        min-height: 80px;
    }

    .formly-block.formly-block-field {
        height: 26px !important;
        background-color: antiquewhite;
        padding: 0px;
        margin: 0px;
    }

.formly-head {
    display: inline-block;
    width: 100%;
    padding: 0px !important;
    overflow: hidden;
    margin: 0px;
}

    .formly-head > .formly-tools {
        float: right;
        padding: 0px !important;
        position: absolute;
        top: 0;
        right: 0;
    }

.formly-btn {
    margin: 0 !important;
    border-radius: 0 !important;
    font-size: 11px;
    padding: 3px;
}

.formly-head > .formly-title {
    float: left;
    font-weight: 900;
    background-color: #67809f;
    color: white;
    padding-right: 10px;
    padding-left: 4px;
    overflow: hidden;
    min-height: 25px;
    margin: auto;
    text-align: center;
}

.formly-column {
    list-style-type: none;
    padding: 0;
    margin: 5px;
}

.formly-body {
    overflow: hidden;
    margin: 0px;
    padding: 0px 20px 0px 0px;
}

.formly-block.hover {
    background-color: #2ab4c0 !important;
}

.sortable,
.sortablerow {
    list-style-type: none;
    padding: 0px 5px 0px 5px;
    margin: 0px;
}

    .sortable li {
        margin-top: 5px;
        float: left;
    }

    .sortablerow li {
        margin: 0px 0px 7px 0px;
    }

.tree-folder-header.selected {
    background-color: #36c6d3 !important;
    color: white !important;
}

.zoomedOutConfig {
    zoom: 85%;
}

pre {
    white-space: pre-wrap; /* Since CSS 2.1 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

span.required, div.error {
    color: #ff0000;
}
/*override*/



.timepicker-sm input, s {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.formly-control {
    height: 72px;
    width: 100%;
}

.formly-control-big {
    min-height: 72px;
    height: auto !important;
    width: 100%;
}

.row.formly {
    margin-right: 0;
    margin-left: 0;
}

.ui-select-dropdown.dropdown-menu {
    margin-top: 0px;
}
/*------------------*/
.dropdown-menu .submenu {
    list-style: none;
    margin: 0px;
    padding: 0px;
    padding-left: 20px;
}

.dropdown-menu li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

    .dropdown-menu li > a:hover, .dropdown-menu li > a:focus {
        color: #262626;
        text-decoration: none;
        background-color: #f5f5f5;
    }

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #428bca;
    outline: 0;
}

.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
    color: #777;
}

    .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
        text-decoration: none;
        cursor: not-allowed;
        background-color: transparent;
        background-image: none;
        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    }
/*--------------------*/
 
.form-group {
    position:relative;
}
    .form-group .datepicker-option {
        position: absolute;
        top:0;
        right:0;
    }
