﻿<div  style="position: relative;display:block">
    <formly-transclude></formly-transclude>
    <div style="position: absolute;top: 5px;right: 10px;font-weight:900">
        {{model[options.key]}}
    </div>
</div>
