﻿<div class="modal-content data-modal">
    <div class="modal-header  data-modal">
        <h3 class="modal-title">{{Title}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <span ng-bind-html="Message"></span>
            </div>
            <div class="col-md-12" ng-if="popupData.length > 0">
                <table class="table table-hover" style="margin-top: 10px;">
                    <tbody>
                    <tr ng-repeat="item in popupData">
                        <td>
                            <span ng-if="item.Result===true"><span class="label label-success"><i class="fa fa-check-square" aria-hidden="true"></i></span></span>
                            <span ng-if="item.Result!==true"><span class="label label-danger"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></span></span>
                        </td>
                        <td style="text-overflow: ellipsis; white-space: nowrap; max-width: 100px; overflow: hidden;"><strong>{{item.Name}}</strong> </td>
                        <td>{{item.Message}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div> 
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="confirm()" ng-if="ButtonConfirm != ''">{{ButtonConfirm}}</button>
        <button class="btn btn-warning" ng-click="cancel()" ng-if="ButtonCancel != ''">{{ButtonCancel}}</button>
    </div>
</div>
   
