﻿<style type="text/css">
    .CodeMirror pre {
        padding: 0px 42px;
    }
</style>
<form name="formly_form" ng-submit="btnSve()">
    <div class="portlet light" style="padding-bottom:0;">
        <div class="portlet-title tabbable-line">
            <div class="caption">
                <i class="fa fa-cogs"></i>
                <span class="caption-subject bold uppercase">Control </span>
                <span class="caption-helper">config...</span>
            </div>

            <ul class="nav nav-tabs">
                <li ng-class="Mode==1?'active':''">
                    <a href="javascript:;" data-toggle="tab" ng-click="Mode=1">Base info</a>
                </li>

                <li ng-class="Mode==2?'active':''">
                    <a href="javascript:;" data-toggle="tab" ng-click="Mode=2">Advanced</a>
                </li>
                <li ng-class="Mode==3?'active':''">
                    <a href="javascript:;" data-toggle="tab" ng-click="Mode=3">Preview <span ng-if="">and set default</span></a>
                </li>
            </ul>
        </div>
        <div class="portlet-body">
            <div class="row">
                <div class="col-md-12">
                    <div ng-if="Mode==1">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label ">Name</label>
                                    <div class="">
                                        <input type="text" class="form-control input-sm" ng-model="Item.key">
                                        <div class="my-messages error" ng-if="ListKey.indexOf(Item.key)>=0">
                                            <span>Name is already exists!</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label ">Control</label>
                                    <div class="">
                                        <ui-select ng-model="Item.data.key" style="width: 100%" theme="selectize" ng-change="ChangeControl()">
                                            <ui-select-match placeholder="Chọn control">{{$select.selected.Name}}</ui-select-match>
                                            <ui-select-choices group-by="'Group'" repeat="option.Name as option in ListAvailAbleControl | filter: $select.search">
                                                <small ng-bind-html="option.Name | highlight: $select.search"></small>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label ">Css Class</label>
                                    <div class="">
                                        <div class="input-group input-group-sm">
                                            <input type="text" class="form-control input-sm" aria-label="" ng-model="Item.className">
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                                    <i class="fa fa-angle-down"></i>
                                                </button>
                                                <ul class="dropdown-menu pull-right" style="max-height:350px;overflow-x:scroll;width:100%">
                                                    <li ng-repeat="option in ListAvailAbleClass | filter:Item.className" ng-click="Item.className = option">
                                                        <a href="javascript:;" ng-bind-html="option | highlight:  Item.className"></a>
                                                    </li>
                                                    <li ng-repeat="option in ListAvailAbleClass | filter:'!' +Item.className" ng-click="Item.className = option">
                                                        <a href="javascript:;" ng-bind-html="option | highlight:  Item.className"></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">

                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label ">Label</label>
                                    <div class="">
                                        <input type="text" class="form-control input-sm" ng-model="Item.templateOptions.label">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label ">Placeholder</label>
                                    <div class="">
                                        <input type="text" class="form-control input-sm" ng-model="Item.templateOptions.placeholder">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <label>
                                        <span class="control-label">Horizontal display</span>
                                        <div class="checker">
                                            <span ng-class="Item.templateOptions.horizontalLabel?'checked':''">
                                                <input ng-model="Item.templateOptions.horizontalLabel" type="checkbox" ng-model-options="{ updateOn: 'default'}" class="checkboxes" />
                                            </span>
                                        </div>
                                    </label>
                                    </div>
                                    <div class="col-md-3" ng-show="Item.templateOptions.horizontalLabel">
                                        <input type="text" class="form-control input-sm" ng-blur="ChangeSizeHorizontal(true)" ng-model="Item.templateOptions.labelSize">
                                    </div>
                                    <div class="col-md-3" ng-show="Item.templateOptions.horizontalLabel">
                                        <input type="text" class="form-control input-sm" ng-blur="ChangeSizeHorizontal(false)" ng-model="Item.templateOptions.controlSize">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="">
                                    <label>
                                    <span>Required</span>
                                    <div class="checker">
                                        <span ng-class="Item.templateOptions.required?'checked':''">
                                            <input ng-model="Item.templateOptions.required" type="checkbox" ng-model-options="{ updateOn: 'default'}" class="checkboxes" />
                                        </span>
                                    </div>
                                </label> &nbsp; &nbsp;
                                    <label>
                                    <span>ReadOnly</span>
                                    <div class="checker">
                                        <span ng-class="Item.templateOptions.readonly?'checked':''">
                                            <input ng-model="Item.templateOptions.readonly" type="checkbox" ng-model-options="{ updateOn: 'default'}" class="checkboxes" />
                                        </span>
                                    </div>
                                </label> &nbsp; &nbsp;
                                    <label>
                                    <span ng-hide="Item.data.key ==='InputTimeControl'">Set Default</span>
                                    <div class="checker" ng-hide="Item.data.key ==='InputTimeControl'">
                                        <span ng-class="Item.data.IsSetDefault?'checked':''">
                                            <input ng-model="Item.data.IsSetDefault" type="checkbox" ng-model-options="{ updateOn: 'default'}" class="checkboxes" />
                                        </span>
                                    </div>
                                </label> &nbsp; &nbsp;
                                    <label>
                                    <span ng-show="Item.data.key ==='UploadControl'">MuliUpload</span>
                                    <div class="checker" ng-show="Item.data.key ==='UploadControl'">
                                        <span ng-class="Item.templateOptions.multiUpload?'checked':''">
                                            <input ng-model="Item.templateOptions.multiUpload" type="checkbox" ng-model-options="{ updateOn: 'default'}" class="checkboxes" />
                                        </span>
                                    </div>
                                </label>
                                </div>
                            </div>
                        </div>

                        <!--CẤU HÌNH CHUNG-->

                        <!--INPUT-->
                        <div class="clearfix" ng-show="Item.data.group === 'input'"></div>
                        <div class="row" ng-show="Item.data.group === 'input'">
                            <div class="col-md-3">
                                <div class="form-group row">
                                    <label class="control-label col-md-12">Left icon</label>
                                    <div class="col-md-12">
                                        <div class="input-group" ng-class="LeftIconFocus==true?'open':''">
                                            <input type="text" class="form-control bold input-sm" ng-keyup="LeftIconFocus=true" ng-model="Item.templateOptions.addonLeft.class"
                                                ng-change="ChangeAddonLeft()" placeholder="Icon code..." data-stop-event="">
                                            <span class="input-group-addon" ng-click="LeftIconFocus =! LeftIconFocus">
                                                <i class="{{Item.templateOptions.addonLeft.class}}"></i>
                                            </span>
                                            <ul class="dropdown-menu dropdown-menu-sm dropdown-menu-Left " ng-hide="" style="margin-top:0;max-height:350px;overflow-y:scroll"
                                                role="menu">
                                                <li ng-repeat="icon in fontIconList | filter: Item.templateOptions.addonLeft.class |limitTo: 20">
                                                    <a href="javascript:;" ng-click="Item.templateOptions.addonLeft.class=icon.Key;LeftIconFocus=false;">
                                                        <i class="{{::icon.Key}}"></i>  <span ng-bind-html="::icon.Key | highlight: Item.templateOptions.addonLeft.class"></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group row">
                                    <label class="control-label col-md-12">Right icon</label>
                                    <div class="col-md-12">
                                        <div class="input-group" ng-class="RightIconFocus==true?'open':''">
                                            <input type="text" class="form-control bold input-sm" ng-keyup="RightIconFocus=true" ng-model="Item.templateOptions.addonRight.class"
                                                ng-change="ChangeAddonRight()" placeholder="Icon code..." data-stop-event="">
                                            <span class="input-group-addon" ng-click="RightIconFocus =! RightIconFocus">
                                                <i class="{{Item.templateOptions.addonRight.class}}"></i>
                                            </span>
                                            <ul class="dropdown-menu dropdown-menu-sm dropdown-menu-right " ng-hide="" style="margin-top:0;max-height:350px;overflow-y:scroll"
                                                role="menu">
                                                <li ng-repeat="icon in fontIconList | filter: Item.templateOptions.addonRight.class |limitTo: 20">
                                                    <a href="javascript:;" ng-click="Item.templateOptions.addonRight.class=icon.Key;RightIconFocus=false;">
                                                        <i class="{{::icon.Key}}"></i>  <span ng-bind-html="::icon.Key | highlight: Item.templateOptions.addonRight.class"></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--INPUT TEXT-->
                            <div class="col-md-3" ng-show="Item.data.key ==='InputTextControl'">
                                <div class="form-group row">
                                    <label class="control-label col-md-12">Max char</label>
                                    <div class="col-md-12 ">
                                        <input type="number" class="input-sm form-control input-sm" ng-model="Item.templateOptions.maxlength">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3" ng-show="Item.data.key ==='InputTextControl'">
                                <div class="form-group row">
                                    <label class="control-label col-md-12">Min char</label>
                                    <div class="col-md-12">
                                        <input type="number" class="input-sm form-control input-sm" ng-model="Item.templateOptions.minlength">
                                    </div>
                                </div>
                            </div>
                            <!--INPUT NUMBER-->
                            <div class="col-md-3" ng-show="Item.data.key==='InputNumberControl'">
                                <div class="form-group row">
                                    <label class="control-label col-md-12">Max number</label>
                                    <div class="col-md-12 ">
                                        <input type="number" class="input-sm form-control input-sm" ng-model="Item.templateOptions.max">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3" ng-show="Item.data.key==='InputNumberControl'">
                                <div class="form-group row">
                                    <label class="control-label col-md-12">Min number</label>
                                    <div class="col-md-12 ">
                                        <input type="number" class="input-sm form-control input-sm" ng-model="Item.templateOptions.min">
                                    </div>
                                </div>
                            </div>
                            <!--INPUT RANGER-->
                            <div class="col-md-2" ng-show="Item.data.key==='InputRangeControl'">
                                <div class="form-group row">
                                    <label class="control-label col-md-12">Max range</label>
                                    <div class="col-md-12 ">
                                        <input type="number" class="input-sm form-control input-sm" ng-model="Item.templateOptions.max">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2" ng-show="Item.data.key==='InputRangeControl'">
                                <div class="form-group row">
                                    <label class="control-label col-md-12">Step</label>
                                    <div class="col-md-12 ">
                                        <input type="number" class="input-sm form-control input-sm" ng-model="Item.templateOptions.step">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2" ng-show="Item.data.key==='InputRangeControl'">
                                <div class="form-group row">
                                    <label class="control-label col-md-12">Min range</label>
                                    <div class="col-md-12 ">
                                        <input type="number" class="input-sm form-control input-sm" ng-model="Item.templateOptions.min">
                                    </div>
                                </div>
                            </div>
                            <!--INPUT RANGER-->
                            <div class="col-md-6" ng-show="Item.data.key==='InputDateControl'">
                                <div class="form-group row">
                                    <label class="control-label col-md-12">Format</label>
                                    <div class="col-md-12 ">
                                        <input type="text" class="input-sm form-control input-sm" ng-model="Item.templateOptions.datepickerPopup" ng-change="Item.templateOptions.datepickerOptions.format=Item.templateOptions.datepickerPopup">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--TOOGLE-->
                        <div class="clearfix" ng-show="Item.data.key==='ToggleControl'"> </div>
                        <div class="row" ng-show="Item.data.key ==='ToggleControl'">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-12">On label</label>
                                    <div class="col-md-12 ">
                                        <input type="text" class="input-sm form-control input-sm" ng-model="Item.templateOptions.trueLabel">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-12">Off label</label>
                                    <div class="col-md-12 ">
                                        <input type="text" class="input-sm form-control input-sm" ng-model="Item.templateOptions.falseLabel">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--UPLOAD-->
                        <div class="clearfix" ng-show="Item.data.group==='upload'"></div>
                        <div class="row" ng-show="Item.data.group==='upload'">
                            <div class="col-md-3">
                                <div class="form-group row">
                                    <label class="control-label col-md-12">Button label</label>
                                    <div class="col-md-12 ">
                                        <input type="text" class="input-sm form-control input-sm" placeholder=" " ng-model="Item.templateOptions.uploadText">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group row">
                                    <label class="control-label col-md-12">Max size</label>
                                    <div class="col-md-12 ">
                                        <input type="text" class="input-sm form-control input-sm" placeholder="max size.. ex:2GB" ng-model="Item.templateOptions.maxsize">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group row">
                                    <label class="control-label col-md-12">Format accept</label>
                                    <div class="col-md-12">
                                        <input type="text" class="input-sm form-control input-sm" placeholder="pattern file type.. Vd:image/*, .jpg vv.." ng-model="Item.templateOptions.accept">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group row">
                                    <label class="control-label col-md-12">Folder Path</label>
                                    <div class="col-md-12">
                                        <input type="text" class="input-sm form-control input-sm" placeholder="Nhập vào vị trí tải lên" ng-model="Item.templateOptions.folderPath">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group row">
                                    <label class="control-label col-md-12">Use properties</label>
                                    <div class="col-md-12">
                                        <input type="text" class="input-sm form-control input-sm" ng-model="Item.templateOptions.returnProp">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix" ng-show="Item.data.group==='upload'"> </div>
                        <div class="row" ng-show="Item.data.group==='upload'">

                            <div class="col-md-3">
                                <div class="form-group row">
                                    <label class="control-label col-md-12">FileName properties</label>
                                    <div class="col-md-12">
                                        <input type="text" class="input-sm form-control input-sm" ng-model="Item.templateOptions.nameAtribute">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group row">
                                    <label class="control-label col-md-12">FileSize properties</label>
                                    <div class="col-md-12">
                                        <input type="text" class="input-sm form-control input-sm" ng-model="Item.templateOptions.sizeAtribute">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-12">Api Upload</label>
                                    <div class="col-md-12">
                                        <input type="text" class="input-sm form-control input-sm" placeholder=" " ng-model="Item.templateOptions.apiUrl">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix" ng-show="Item.data.group==='upload'"> </div>
                        <div class="row" ng-show="Item.data.group==='upload'">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-12">Header request</label>
                                    <div class="col-md-12">
                                        <input type="text" class="input-sm form-control input-sm" ng-model="Item.templateOptions.headerData">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-12">Body request</label>
                                    <div class="col-md-12">
                                        <input type="text" class="input-sm form-control input-sm" ng-model="Item.templateOptions.bodyData">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                        <!--Table-->
                        <div class="clearfix" ng-show="Item.data.key==='TableControl'"></div>
                        <div class="row" ng-show="Item.data.key==='TableControl'">
                            <div class="col-md-12">
                                <table class="table table-striped table-bordered table-advance table-hover grid-table">
                                    <thead>
                                        <tr>
                                            <th><a href="javascript:;">Column Name</a> </th>
                                            <th><a href="javascript:;">Field Namw</a></th>
                                            <th><a href="javascript:;">Data type</a> </th>
                                            <th>
                                                <button type="button" class="btn btn-sm btn-circle btn-icon-only btn-primary" ng-click="AddTableOptions()">
                                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                                </button>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in Item.templateOptions.headerConfig">
                                            <td>
                                                <input class="form-control input-sm" placeholder="" ng-model="item.headerName" name="">
                                            </td>
                                            <td>
                                                <input class="form-control input-sm" placeholder="" ng-model="item.field" name="">
                                            </td>
                                            <td>
                                                <ui-select class="form-group-sm" ng-init="ListType=[{key:'numberColumn',value:'Number'},{key:'textColumn',value:'Text'},{key:'dateColumn',value:'Date time'}];"
                                                    ng-model="item.type" theme="bootstrap">
                                                    <ui-select-match placeholder="">{{$select.selected.value}}</ui-select-match>
                                                    <ui-select-choices repeat="option.key as option in ListType | filter: $select.search">
                                                        <span ng-bind-html="option.value | highlight: $select.search"></span>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-sm btn-circle btn-icon-only btn-primary" ng-click="AddTableOptions($index)">
                                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                                </button>
                                                <button type="button" class="btn btn-sm btn-circle btn-icon-only btn-danger" ng-click="DeleteTableOptions(item)">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!--DROPDOWN-->
                        <div class="row" ng-show="(Item.data.group ==='dropdown'||Item.data.group ==='checkbox')&&(Item.data.name!=='Checkbox')">
                            <div class="col-md-12" ng-hide="Item.templateOptions.isGetOptionByApi">
                                <div class="clearfix"></div>
                                <table class="table table-striped table-bordered table-advance table-hover grid-table">
                                    <thead>
                                        <tr>

                                            <th ng-show="Item.data.group=='dropdown'"><a href="javascript:;">Group</a> </th>
                                            <th><a href="javascript:;">Name</a></th>
                                            <th><a href="javascript:;">Value</a> </th>
                                            <th>
                                                <button type="button" class="btn btn-sm btn-circle btn-icon-only btn-primary" ng-click="AddOptions()">
                                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                                </button>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in Item.templateOptions.options">
                                            <td ng-show="Item.data.group=='dropdown'">
                                                <input class="form-control input-sm" ng-model="item[Item.templateOptions.groupProp]" name="">
                                            </td>
                                            <td>
                                                <input class="form-control input-sm" ng-model="item[Item.templateOptions.labelProp]" name="">
                                            </td>
                                            <td>
                                                <input class="form-control input-sm" ng-model="item[Item.templateOptions.valueProp]" name="">
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-sm btn-circle btn-icon-only btn-primary" ng-click="AddOptions($index)">
                                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                                </button>
                                                <button type="button" class="btn btn-sm btn-circle btn-icon-only btn-danger" ng-click="DeleteOptions(item)">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-12 text-bold" ng-hide="Item.data.dbType=='uniqueidentifier'">
                                Use from API:&nbsp;
                                <div class="checker">
                                    <span ng-class="Item.templateOptions.isGetOptionByApi?'checked':''">
                                        <input ng-model="Item.templateOptions.isGetOptionByApi" type="checkbox" class="checkboxes" />
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-12 " ng-show="Item.templateOptions.isGetOptionByApi">
                                <div class="form-group row">
                                    <label class="control-label col-md-12">
                                        API URL:
                                        <small class="text-danger">api url<span ng-show="Item.templateOptions.isApiDependent==true">|use '$key%' is reative control</span>  </small>
                                    </label>
                                    <div class="col-md-12">
                                        <input type="text" class="input-sm form-control input-sm" ng-model="Item.templateOptions.apiGetOption">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-12">
                                        Return properties:
                                        <small class="text-danger">'$response':retun properties...| ex : '$response.Data' ..etc</small>
                                    </label>
                                    <div class="col-md-12">
                                        <input type="text" class="form-control input-sm" ng-model="Item.templateOptions.apiResponseData">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="form-group">
                                        <label class="control-label col-md-12">Name properties</label>
                                        <div class="col-md-12">
                                            <input type="text" class="form-control input-sm" ng-model="Item.templateOptions.labelProp">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-12">Value properties</label>
                                        <div class="col-md-12">
                                            <input type="text" class="form-control input-sm" ng-model="Item.templateOptions.valueProp">
                                        </div>
                                    </div>
                                    <div class="form-group" ng-show="Item.data.group=='dropdown'">
                                        <label class="control-label col-md-12">Group </label>
                                        <div class="col-md-12">
                                            <input type="text" class="form-control input-sm" ng-model="Item.templateOptions.groupProp">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div ng-show="Mode==2">
                        <div class="col-md-12" ng-if="ListKey.length>0">
                            <div class="form-group">
                                <label class="control-labe">
                                List AvailAble Control:
                            </label>
                                <div class="col-md-12">
                                    <ul>
                                        <li ng-repeat="item in ListKey">
                                            {{item}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-bold">
                                Hide Expression:&nbsp;
                                <div class="checker">
                                    <span ng-class="Item.templateOptions.isUseHideExpression?'checked':''">
                                        <input ng-model="Item.templateOptions.isUseHideExpression" type="checkbox" class="checkboxes" />
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-12" ng-show="Item.templateOptions.isUseHideExpression">
                                <div class="form-group">
                                    <label class="control-label">
                                        Expression(return true|false):
                                        <small class="text-danger">'$viewValue': view value |'$modelValue': model value |'$scope.model.key': key of relative control</small>
                                    </label>
                                    <div class="col-md-12">
                                        <textarea id="txtHideExpression" class="input-sm form-control input-sm" ng-model="Item.templateOptions.hideExpression"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-bold">
                                Disable Expression:&nbsp;
                                <div class="checker">
                                    <span ng-class="Item.templateOptions.isUseDisabledExpression?'checked':''">
                                        <input ng-model="Item.templateOptions.isUseDisabledExpression" type="checkbox" class="checkboxes" />
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-12" ng-show="Item.templateOptions.isUseDisabledExpression">
                                <div class="form-group">
                                    <label class="control-label">
                                        Expression(return true|false):
                                        <small class="text-danger">'$viewValue': view value |'$modelValue': model value |'$scope.model.key': key of relative control</small>
                                    </label>
                                    <div class="col-md-12">
                                        <textarea id="txtDisabledExpression" class="input-sm form-control input-sm" ng-model="Item.templateOptions.disabledExpression"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="Item.data.group ==='input'">
                            <div class="col-md-12 text-bold">
                                Parttern Validate:&nbsp;
                                <div class="checker">
                                    <span ng-class="Item.templateOptions.isValidateByParttern?'checked':''">
                                        <input ng-model="Item.templateOptions.isValidateByParttern" type="checkbox" class="checkboxes" />
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-12" ng-show="Item.templateOptions.isValidateByParttern">
                                <div class="form-group">
                                    <label class="control-label">Regex Parttern</label>
                                    <div class="col-md-12">
                                        <input type="text" class="input-sm form-control input-sm" ng-model="Item.templateOptions.partternValidate">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Error messages</label>
                                    <div class="col-md-12">
                                        <input type="text" class="input-sm form-control input-sm" ng-model="Item.templateOptions.partternValidateError">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 text-bold">
                                API Validate:&nbsp;
                                <div class="checker">
                                    <span ng-class="Item.templateOptions.isValidateByApi?'checked':''">
                                        <input ng-model="Item.templateOptions.isValidateByApi" type="checkbox" class="checkboxes" />
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-12" ng-show="Item.templateOptions.isValidateByApi">
                                <div class="form-group">
                                    <label class="control-label">
                                        API URL:
                                        <small class="text-danger">'$viewValue'= view value</small>
                                    </label>
                                    <div class="col-md-12">
                                        <input type="text" class="input-sm form-control input-sm" ng-model="Item.templateOptions.apiValidate">
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">
                                            Expression (return true|false):
                                            <small class="text-danger">'$viewValue': view value |'$modelValue': model value |'$scope.model.key': key of relative control</small>
                                        </label>
                                        <div class="col-md-12">
                                            <textarea id="txtapiValidateCondition" class="input-sm form-control input-sm" ng-model="Item.templateOptions.apiValidateCondition"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Error messages</label>
                                    <div class="col-md-12">
                                        <input type="text" class="input-sm form-control input-sm" ng-model="Item.templateOptions.apiValidateError">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 text-bold">
                                Custom Validate:&nbsp;
                                <div class="checker">
                                    <span ng-class="Item.templateOptions.isValidateByCustom?'checked':''">
                                        <input ng-model="Item.templateOptions.isValidateByCustom" type="checkbox" class="checkboxes" />
                                    </span>
                                </div>
                            </div>
                            <div class="row" ng-show="Item.templateOptions.isValidateByCustom">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">
                                            Expression(return true|false):
                                            <small class="text-danger">'$viewValue': view value |'$modelValue': model value |'$scope.model.key': key of relative control</small>
                                        </label>
                                        <div class="col-md-12">
                                            <textarea id="txtCustomValidate" class="input-sm form-control input-sm" ng-model="Item.templateOptions.customValidate"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Error messages</label>
                                        <div class="col-md-12">
                                            <input type="text" class="input-sm form-control input-sm" ng-model="Item.templateOptions.customValidateError">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="Mode==3 ">
                    <div class="col-md-12 ">
                        <formly-form fields="PreviewSheme " model="PreviewData ">
                        </formly-form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="modal-footer ">
        <a href="javascript:; " ng-click="Save() " class="btn btn-sm btn-primary ">
            <i class="fa fa-save "></i> Save
        </a>
        <a href="javascript:; " ng-click="Cancel() " class="btn btn-sm btn-warning ">
            <i class="fa fa-ban "></i> Close
        </a>
    </div>
    <div class="alerts " ng-show="notify.queue.length> 0">
        <div class="alert alert-{{(m.type)||'info'}} alert-dismissable fade in pull-right" ng-repeat="m in notify.queue">
            <button type="button" class="close" ng-click="closeAlert(m.body)" data-dismiss="alert">×</button>
            <label>{{m.title}}</label>
            <div>{{m.body}}</div>
        </div>
    </div>
</form>