﻿<style>
    .active{
        background-color:#4552d4;
        color:#FAFAFA;

    }
    
</style>
<!-- BEGIN PAGE CONTENT-->
<div class="portlet light formly">
    <div class="portlet-title tabbable-line">
        <div class="caption col-md-9">
            <strong>Formly</strong>
        </div>
        <ul class="nav nav-tabs col-md-3">

            <li class="pull-right" ng-class="FormMode==='preview'?'active':''">
                <a href="javascript:;" ng-click="ChangeForm('preview')" data-toggle="tab" aria-expanded="false"><i class="fa fa-eye"></i>&nbsp;Preview</a>
            </li>
            <li class="pull-right" ng-class="FormMode==='config'?'active':''">
                <a href="javascript:;" ng-click="ChangeForm('config')" data-toggle="tab" aria-expanded="true"><i class="fa fa-cogs"></i>&nbsp; Config</a>
            </li>
        </ul>
    </div>

    <div class="portlet-body">
        <div class="row" ng-show="FormMode==='config'">
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th width="256px">
                                <i class="icon-puzzle"></i> Control
                            </th>
                            <th>
                                <i class="fa fa-qrcode"></i> Form
                                <span class="pull-right">
                                    <a href="javascript:;" class="btn btn-danger btn-xs" ng-click="AddRow()">
                                        <i class="fa fa-plus"></i> Add row
                                    </a>  
                                </span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="padding: 0">
                                <div class="input-icon right" style="border-radius: 0 ">
                                    <i class="icon-magnifier"></i>
                                    <input type="text" class="form-control input-sm" ng-model="TextSearch" placeholder="Tìm kiếm">
                                </div>
                                <script type="text/ng-template" id="toolBoxTree">
                                    <div class="tree-folder-header" ng-mousedown="ClickToCategory(control)" ng-class="control.data.Selected?'selected':''">
                                        <i ng-class="control.data.IsExpand ? 'fa fa-caret-down':'fa fa-caret-right'" ng-show="control.data.hasChild">
                                        </i>
                                        <div class="tree-folder-name">
                                            <span ng-if="control.data.hasChild"><img ng-src="{{control.data.imageSrc}}" width="50px" height="20px" /></span>
                                            <span ng-class="control.data.hasChild ? '' : 'text-bold'">{{control.data.name}}</span>
                                        </div>
                                    </div>
                                    <hr style="margin:2px;" ng-show="control.data.IsExpand" />
                                    <div class="tree-folder-content" ng-show="control.data.child&&control.data.IsExpand">
                                        <div ng-class="control.data.hasChild?'':'draggable'" id="{{control.key}}" ng-repeat="control in control.data.child | filter:TextSearch" ng-include="'toolBoxTree'">
                                        </div>
                                    </div>
                                </script>
                                <div id="formly-toolbox" class="tree tree-plus-minus tree-no-line tree-unselectable" style="padding: 0;">
                                    <div style="background: #FAFAFA;" class="tree-folder">
                                        <div ng-class="form-control.data.hasChild?'':'draggable'" id="{{control.data.key}}" ng-repeat="control in component | filter:TextSearch" ng-include="'toolBoxTree'"></div>
                                    </div>
                                </div>
                            </td>
                            <td style="background-color: #777;padding:0px">
                                <script type="text/ng-template" id="loki-lopp">
                                    <!-- Row -->
                                    <div class="formly-row droppable" ng-show="compoment.data.type == 1" id="{{compoment.data.index}}">
                                        <div class="formly-head">
                                            <div class="formly-title">
                                                {{compoment.data.name}}
                                            </div>
                                            <div class="formly-tools">
                                                <button type="button" class="btn btn-xs btn-danger formly-btn" ng-click="DeleteRow(compoment)" title="Delete">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </button><br />

                                                <button type="button" class="btn btn-xs btn-primary formly-btn" ng-click="EditRow(compoment)" title="Config">
                                                    <i class="fa fa-cogs" aria-hidden="true"></i>
                                                </button><br />
                                                <button type="button" class="btn btn-xs formly-btn" ng-class="CheckSwapRow(compoment)" ng-click="SwapRow(compoment)" title="Swap">
                                                    <i class="fa fa-exchange" aria-hidden="true"></i>
                                                </button><br />
                                                <button type="button" class="btn btn-xs btn-info formly-btn" ng-click="CloneRow(compoment)" title="Dulicate">
                                                    <i class="fa fa-copy" aria-hidden="true"></i>
                                                </button>
                                                
                                            </div>
                                        </div>
                                        <div class="formly-body">
                                            <ul  class="sortable" id={{compoment.data.index}}>
                                                <li ng-repeat="compoment in compoment.fieldGroup" class="{{compoment.className}}" ng-include="'loki-lopp'" id={{compoment.key}}>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>                                    
                                    <!-- Item -->
                                    <div class="formly-block" ng-show="compoment.data.type == 0">
                                        <div class="formly-head">
                                            <div class="formly-tools">

                                                <button type="button" class="btn btn-xs btn-danger formly-btn" ng-click="DeleteItem(compoment)" title="Delete ">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </button><br />

                                                <button type="button" class="btn btn-xs btn-primary formly-btn" ng-click="EditItem(compoment)" title="Config">
                                                    <i class="fa fa-cogs" aria-hidden="true"></i>
                                                </button><br />
                                                <button type="button" class="btn btn-xs btn-info formly-btn" ng-click="CloneItem(compoment)" title="Duplicate">
                                                    <i class="fa fa-copy" aria-hidden="true"></i>
                                                </button> 
                                            </div>
                                            <div class="formly-title">
                                                {{compoment.data.name}}
                                            </div>
                                        </div>
                                        <div class="formly-body padding-left-15" title="key: {{compoment.key}}&#13;label:{{compoment.templateOptions.label}}" >
                                            <small><strong> key:</strong> {{compoment.key}}</small><br /> 
                                            <small ng-if="compoment.templateOptions.label"><strong> label:</strong> {{compoment.templateOptions.label}}</small>
                                        </div>
                                    </div>
                                    <!-- Item Html -->
                                    <div class="formly-block" ng-show="compoment.data.type==2">
                                        <div class="formly-head">
                                            <div class="formly-tools">
                                                <button type="button" class="btn btn-xs btn-danger formly-btn" ng-click="DeleteItem(compoment)" title="Delete">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </button><br />

                                                <button type="button" class="btn btn-xs btn-primary formly-btn" ng-click="EditItem(compoment,'label')" title="Config">
                                                    <i class="fa fa-cogs" aria-hidden="true"></i>
                                                </button><br />
                                                <button type="button" class="btn btn-xs btn-info formly-btn" ng-click="CloneItem(compoment)" title="Duplicate">
                                                    <i class="fa fa-copy" aria-hidden="true"></i>
                                                </button> 
                                            </div>
                                        </div>
                                        <div class="formly-body">
                                            <div class="zoomedOutConfig" ng-bind-html="deliberatelyTrustDangerousSnippet(compoment.template)"></div>
                                        </div>
                                    </div>
                                </script>
                                <div id="formly-mainscreen" style="padding:10px">
                                    <div style="padding:10px">
                                        <ul class="sortablerow ">
                                            <li ng-repeat="compoment in vm.Model" ng-include="'loki-lopp'" class="{{compoment.className}}"></li>
                                        </ul>
                                    </div> 
                                </div> 
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" ng-if="FormMode==='preview'">
            <div class="col-md-12">
                <form ng-submit="vm.onSubmit()">
                    <formly-form fields="vm.Scheme" model="vm.Data">
                        <!--<button class="btn btn-primary btn-sm" type="submit">Lưu biểu mẫu</button>-->
                    </formly-form>
                </form>
                <hr>
                <a href="javascript:;" ng-click="IsShowInfo = !IsShowInfo">Detail</a>
            </div>
            <div class="col-md-12" ng-show="IsShowInfo">
                <hr />
                <h2>Form Data</h2>
                <pre>{{vm.Data | json}}</pre>
                <hr />
                <h2>Form Scheme</h2>
                <pre>{{vm.Scheme | json}}</pre>
            </div>
        </div>
    </div>
</div>
