<html>
<head>
    <title>Demo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="../contextMenu.js"></script>
    <script src="demo.js"></script>
    <link rel="stylesheet" media="all" href="styles.css">
</head>
<body>
<div ng-app="app" ng-controller="DemoController">
    <div>
        <strong>Gold: </strong>
        {{player.gold}}
    </div>
    <div class="list-group">
        <a href="#"
           class="list-group-item"
           ng-repeat="item in items"
           context-menu="menuOptions">
            <span class="badge">{{item.cost}}</span>
            {{item.name}}
        </a>
    </div>
    <button class="btn btn-default"
            context-menu="otherMenuOptions"
            model="'Red'">Right Click</button>

    <br/>
    <br/>
    <button class="btn btn-default"
            context-menu="otherMenuOptions"
            allow-event-propagation="true"
            model="'Blue'">Right Click allow event propagation</button>

    <br/>
    <br/>
    <button class="btn btn-default"
            context-menu="otherMenuOptions"
            context-menu-on="click"
            model="'Red'">Left Click</button>

    <br/>
    <br/>
    <button class="btn btn-default"
            context-menu="customHTMLOptions"
            >Custom HTML</button>

</div>
</body>

</html>
